html {
  font-size: 10px;
}
body {
  font-size: 2rem;
}
.todo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}

button {
  border-radius: 5px;
  border: solid black 1px;
  margin-left: 8px;
  font-weight: bold;
}

.add {
  background: rgb(0, 219, 0);
}

.remove {
  background: rgb(255, 24, 24);
  color: white;
}
